
/*!
*  _layouts.scss
* -----------------------------------
*/

@import "header";
@import "footer";

body {

    background: #B9B9B9;

}

#main {

    background: #FFF;
    padding: 25px;
    border: 1px solid #999;

}